@page
@model Kiki.WebApp.Pages.DiscountRules.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DiscountRule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DiscountRule.Id" />
            <div class="form-group">
                <label asp-for="DiscountRule.FromPrice" class="control-label"></label>
                <input asp-for="DiscountRule.FromPrice" class="form-control" />
                <span asp-validation-for="DiscountRule.FromPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountRule.ToPrice" class="control-label"></label>
                <input asp-for="DiscountRule.ToPrice" class="form-control" />
                <span asp-validation-for="DiscountRule.ToPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountRule.Size" class="control-label"></label>
                <input asp-for="DiscountRule.Size" class="form-control" />
                <span asp-validation-for="DiscountRule.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountRule.Margin" class="control-label"></label>
                <input asp-for="DiscountRule.Margin" class="form-control" />
                <span asp-validation-for="DiscountRule.Margin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
